<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">Article</a>
        <a href="/users/new"><button>Add Article</button></a>
    </header>
    <h2>Articles</h2>
    <%articles.forEach(article => {%>
         <p><%=article.title%></p>
         <a href="/users/<%=article.id%>"><button>more</button></a>
   <% })%>
</body>
</html>