<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
       
        <h1> Welcome to Article Page</h1>
        <a href="/users/"><button>show Article</button></a>
      
     
  </body>
</html>
